<h3 mat-dialog-title>
    Detail Produk
 </h3>
 <div mat-dialog-content>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Nama</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Kode</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Kategori</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Jumlah</mat-label>
        <input matInput type="number">
    </mat-form-field>
 </div>
 <div mat-dialog-actions align="end">
 <button mat-button mat-dialog-close>Batal</button>
 <button mat-flat-button>Simpan</button>
 </div> 